body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

input[type="text"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="integer"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
  display: none;
}

.checkbox-container label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkbox-container label:hover {
  background-color: #e0e0e0;
}

.checkbox-container input[type="checkbox"]:checked + label {
  background-color: #007bff;
  color: #fff;
}


label {
  font-weight: normal;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}


h4 {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #007bff;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin: 5px 0;
}

button {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.container-div {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

p {
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #555;
  margin: 5px 0;
}

h5 {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #777;
  margin: 0;
}

h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #007bff;
  margin: 20px 0;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.link-container {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.link-container a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #333;
  text-decoration: none;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s;
}

.link-container a:hover {
  background-color: #ddd;
}

.medical-container {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
}

.medical-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.medical-reading {
  font-size: 18px;
  margin-bottom: 5px;
}

.medical-reading:before {
  content: '•';
  margin-right: 5px;
}